@use '@scss/variables' as *;

.section-employee-form {
    & .form-container {
        width: 60%;
        margin: 2em auto 2em auto;
        padding: 1em;
        border-radius: 10px;
        background-color: $bgSectionColor;

        & h2 {
            margin-top: -3px;
            margin-bottom: 12px;
            font-size: 20px;
        }

        & h3 {
            margin-top: -3px;
            margin-bottom: 8px;
        }

        & .bg-white {
            background-color: white;
            padding: 1em 1em 0em 1em;
            border-radius: 10px;
            margin-bottom: 1em;
            border: 1px solid $bgPryColor;
        }

        & .ant-input-outlined:hover, 
        & .ant-picker-outlined:hover, 
        & .ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
            border-color: $pryColor;
        }

        & .ant-row > .ant-btn {
            background-color: $pryColor;
            width: 20%;
            &:hover {
                background-color: $sdyColor;
            }
        }

        & .ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector,
        & .ant-picker-outlined:focus, .ant-picker-outlined:focus-within,
        & .ant-input-outlined:focus, .ant-input-outlined:focus-within {
            border-color: $pryColor;
            box-shadow: 0 0 0 2px rgba(186, 155, 0, 0.1);
        }

        & .ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-form-item-label {
            padding-bottom: 2px;
        }
    }
}

.ant-picker-dropdown {
    & .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
        border: 1px solid $pryColor;
    }

    & .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled) .ant-picker-cell-inner, 
    & .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled) .ant-picker-cell-inner, 
    & .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
        background: $pryColor
    }

    & .ant-picker-footer {
        & a:hover {
            color: $pryColor;
        }
    }
}

/* Input Zip Code */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}
    