@use '@scss/variables' as *;

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 0 1em;
    background-color: $bgSectionColor;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    & p {
        font-weight: bold;
        font-size: 22px;
        margin: 0.5em 0 0.5em 0;
    }

    a {
        position: relative;
    }

    a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        bottom: -3px;
        left: 50%;
        background-color: $pryColor;
        transition: width 0.4s ease, left 0.4s ease;
    }

    a:hover::after {
        width: 100%;
        left: 0;
    }
}