$pryColor: rgb(147, 173, 25);
$sdyColor: rgb(110, 134, 15);
$bgSectionColor: #f0f0f0;
$bgPryColor: rgba(147, 173, 25, 0.5);
$bgSdyColor: rgba(110, 134, 15, 0.8);
$bgDropdownSelected: rgba(215, 220, 187, 0.773);
$bgDropdownSelectedHover: rgb(200, 209, 156);