@use './variables' as *;

body {
    margin: 0;
}

html {
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(60deg, $bgPryColor 0%, $bgSdyColor 50%, $bgPryColor 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    position: relative;
    flex: 1;
}

.section-employee-form {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: black;
    text-decoration: none;
}

/* ANT BTN */
.ant-btn-color-primary {
    color: white;
    background-color: $pryColor;
    box-shadow: 0 2px 0 rgba(255, 213, 0, 0.1);
    transition: all 250ms ease-in-out;
    &:hover {
        background: $sdyColor;
    }
}

/* ANT MODAL */
.ant-modal {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & .ant-modal-close {
        display: none;
    }

    & .ant-modal-title {
        display: flex;
        align-items: center;

        & .modal-icon {
            margin-right: 8px;

            & svg {
                color: $sdyColor;
                font-size: 19px;
            }
        }
    }

    & .ant-modal-footer .ant-btn-variant-solid:hover {
        background: $sdyColor;
    }
}

/* ANT DROPDOWN */
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected, 
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item-selected,
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title-selected, 
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title-selected {
    color: $pryColor;
    background-color: $bgDropdownSelected;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected:hover, 
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item-selected:hover, 
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title-selected:hover,  
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title-selected:hover,  
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected-active,  
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item-selected-active,  
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title-selected-active,  
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title-selected-active {
    background-color: $bgDropdownSelectedHover;
}

.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    font-weight: 500;
    background-color: $bgDropdownSelected;
}
