@use './variables' as *;

body {
    margin: 0;
}

html {
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    background-color: $bgColor;
}

a {
    color: black;
    text-decoration: none;
}